<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon"
    type="image/svg" 
    href="../assets/images/Learn to Earn. (7).svg" class="m-0 p-0 w-full h-full">
    <link rel="stylesheet" href="../css/style.css" />


    <title>Learn to Earn</title>
  </head>
  
  <body>

    <nav class="relative container mx-2 mt-0 p-0">
      <div class="flex items-center justify-between">
        <!-- flex container for logo -->
        <div class="flex items-center space-x-[26px]">
          <!-- logo -->
          <a href="/"> <img src="../assets/images/Learn to Earn. (7).svg" alt="side logo" class="w-[65px]"> </a>
          <a href="/">  <img src="../assets/svgs-design/Learn to Earn. (2).svg" alt="logo" class="w-1/5" role="button" /></a>
          <!-- left buttons -->
          <div class="hidden space-x-12 font-bold lg:flex">
            <a href="/" class="text-gray-600 hover:text-black hover:translate-y-0.5">Home</a>
            <a href="/courses" class="text-gray-600 hover:text-black hover:translate-y-0.5">Courses</a>
            <a href="/webinar" class="text-gray-600 hover:text-black hover:translate-y-0.5">Webinar</a>
            <!-- <a href="/blog" class="text-gray-600 hover:text-black hover:translate-y-0.5">Blog</a> -->
          </div>
        </div>
        <!-- Right buttons -->
        <div class="hidden items-center space-x-8 font-bold text-gray-600  lg:flex">
          <div class="hover:text-veryDarkVoilet hover:translate-y-0.5">
            <a href="/login">Login</a>
          </div>
          <a href="/signup" class="px-8 py-3 font-bold text-white bg-violet-600 rounded-full hover:opacity-70 hover:translate-y-0.5 hover:shadow-lg">Sign Up</a>
        </div>
        <!-- Hamburger -->

        <div class="lg:hidden">
          <button id="menu-btn" type="button" class="hamburger block lg:hidden focus:outline-none ">
            <span class="hamburger-top"></span>
            <span class="hamburger-middle"></span>
            <span class="hamburger-bottom"></span>
          </button>
        </div>
      </div>
      <!-- Mobile view -->

      <div id="menu" class="absolute hidden p-6 rounded-lg bg-[#6B4596] left-6 right-6 top-20 z-100">
        <div class="flex flex-col items-center justify-center w-full space-y-6 font-bold text-white rounded-sm">
          <a href="/" class="w-full text-center">Home</a>
          <a href="/courses" class="w-full text-center">Courses</a>
          <a href="/webinar" class="w-full text-center">Webinar</a>
          <!-- <a href="/blog" class="w-full text-center">Blog</a> -->
          <a href="/login" class="w-full pt-6 border-t-gray-400 text-center">Login</a>
          <a href="/signup" class="w-full py-3 bg-violet-600 rounded-full text-center">Sign Up</a>
          
        </div>

     </div>
    </nav>

    <section id="hero">

        <div class="container flex mx-auto flex-row">
          
          <!-- Upper Content Container  -->
          <div class="flex flex-col space-y-10 mb-16 lg:mt-16 w-full xl:mb-40">
  
            <h1 class="text-[40px] font-bold text-center lg:text-[45px]"> Contact Us.</span></h1>
  
           <p class="font-medium text-lg">We're Here to Help You <span class="text-violet-700">Succeed!</span> <br></p>

           <p> At Learn to Earn, we are dedicated to supporting your journey towards success. If you have any questions, concerns, or feedback, please don't hesitate to reach out. Our team is committed to assisting you in any way we can. <br> <br> <hr>
            
            Customer Support <br> <br>
            
            Our friendly and knowledgeable customer support team is ready to assist you with any inquiries. You can contact us through the following channels: <br>
            
            Email: learntoearn2409@gmail.com <br>
            Phone: 9200909097 <br>
            
            <!-- Address
            
            Learn to Earn
            Hinjewadi Phase 1
            Pune, Maharashtra, India, 411057 -->
            
            Connect With Us <br>
            
            Follow us on social media to stay updated with the latest course releases, success stories, and valuable insights: <br>
            
            <a href="https://www.facebook.com/profile.php?id=100089923585953&mibextid=ZbWKwL" class="hover:text-blue-500 hover:text-underline font-semibold underline animate-text hover:translate-y-0.5">Facebook</a>  <br>
            <!-- Instagram: [Link to Your Instagram Profile] <br> -->
            <a href="https://www.linkedin.com/company/learn-to-earnn/" class="hover:text-blue-500 hover:text-underline font-semibold underline animate-text hover:translate-y-0.5">LinkedIn</a>  <br>
            
            <span class="font-bold">Business Opportunities </span><br>
            
            If you're interested in partnership opportunities, course collaborations, or would like to feature your course on Learn to Earn.com, please get in touch with us: <br>
            
            Email: learntoearn2409@gmail.com <br> <br>
            
            <span class="font-bold">Feedback and Suggestions </span><br>
            
            We highly value your feedback and suggestions. Your insights help us continually improve and offer the best possible learning experience.  <br>
            
            Course Enrollment Assistance. <br>
            
            If you encounter any issues with course enrollment, payment, or accessing course materials, our enrollment support team is here to assist you: <br>
            
            Enrollment Support Email: learntoearn2409@gmail.com <br>
            
            <span class="font-bold"> Get in Touch </span> <br>
            
            We understand that every learner is unique, and we're excited to help you achieve your goals. Please fill out the form below to get in touch with us. Our team will respond to your inquiry as soon as possible. <br>
            
            <span class="font-semibold"> Hours of Operation</span> <br>
            
            Our customer support and enrollment support teams are available: <br>
            
            <span class="font-medium">Monday to Friday: 9:00 AM - 6:00 PM [IST] <br>
            Closed on Saturdays & Sundays and Public Holidays.</span> <br>
            
            Thank you for choosing Learn to Earn. We look forward to assisting you in your journey to success.</p>
                
               
          </div>
        <hr class="items-start h-20">
      
      </section>

      <footer class="py-16 bg-veryDarkBlue">

        <div class="container flex flex-col items-center justify-between mx-auto space-y-16 md:flex-row md:space-y-0 md:items-start">
    
          <!-- footer logo -->
    
          <img src="../assets/images/Learn to Earn. (7).svg " alt="" class="w-10 h-10">
    
          <!-- menu container -->
          <div class="flex flex-col-space-y-16 md:space-x-20 md:flex-row md:space-y-0">
            <!-- item-1 -->
            <div class="flex flex-col item-center w-full md:items-start">
              <div class="mb-5 font-bold text-white capitalize hover:translate-y-1 hover:shadow-xl"><a href="/aboutus">About us</a></div>
            </div>
           
          </div>
    
          <div class="flex flex-col-space-y-16 md:space-x-20 md:flex-row md:space-y-0">
            <!-- item-3 -->
            <div class="flex flex-col item-center w-full md:items-start">
              <div class="mb-5 font-bold text-white capitalize hover:translate-y-1 hover:shadow-xl"><a href="/privacy">privacy policy</a></div>
            </div>
           
          </div>
    
          <div class="flex flex-col-space-y-16 md:space-x-20 md:flex-row md:space-y-0">
            <!-- item-4 -->
            <div class="flex flex-col item-center w-full md:items-start">
              <div class="mb-5 font-bold text-white capitalize hover:translate-y-1 hover:shadow-xl"><a href="/terms">terms & conditions</a></div>
            </div>
    
          </div>
          <!-- social Container -->
          <div class="flex space-x-6"> 
            <div class="flex flex-col md:item-center font-bold text-lg text-white">Follow Us On</div>
            <a href="">
              <img src="../assets/svgs-design/icon-facebook.svg" alt="facebook-icon" class="ficon">
            </a>
            <a href="">
              <img src="../assets/svgs-design/icon-twitter.svg" alt="twitter-icon" class="ficon">
            </a>
            <a href="">
              <img src="../assets/svgs-design/icon-instagram.svg" alt="instagram-icon" class="ficon">
            </a>
            <a href="">
              <img src="../assets/svgs-design/icon-pinterest.svg" alt="pinterest-icon" class="ficon">
            </a>
            <a href="">
              <img src="" alt="">
            </a>
          </div>
        </div>
      </footer>


      <script src="../app.js"></script>
      <script src="../js/script.js"></script>
      </body>
      </html>



