<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon"
    type="image/svg" 
    href="../assets/images/Learn to Earn. (7).svg" class="m-0 p-0 w-full h-full">
    <link rel="stylesheet" href="../css/style.css" />

    <title>Courses</title>
  </head>

  <body>
    <nav class="relative container mx-2 mt-0 p-0">
        <div class="flex items-center justify-between">
          <!-- flex container for logo -->
          <div class="flex items-center space-x-[26px]">
            <!-- logo -->
           <a href="/auth"> <img src="../assets/images/Learn to Earn. (7).svg" alt="side logo" class="w-[65px]"> </a>
          <a href="/auth">  <img src="../assets/svgs-design/Learn to Earn. (2).svg" alt="logo" class="w-1/5" role="button" /></a>
            <!-- left buttons -->
            <div class="hidden space-x-12 font-bold lg:flex">
              <a href="/auth" class="text-gray-600 hover:text-black hover:translate-y-0.5">Home</a>
              <a href="/webinar" class="text-gray-600 hover:text-black hover:translate-y-0.5">Webinar</a>
              <a href="/blog" class="text-gray-600 hover:text-black hover:translate-y-0.5">Blog</a>
            </div>
          </div>

          <!-- right side button -->
          <div class="hidden items-center space-x-8 font-bold text-gray-600  lg:flex">
            <a href="/logout" class="px-8 py-3 font-bold text-white bg-violet-600 rounded-full hover:opacity-70 hover:translate-y-0.5 hover:shadow-lg">Logout</a>
          </div>

          <div class="lg:hidden">
            <button id="menu-btn" type="button" class="hamburger block lg:hidden focus:outline-none ">
              <span class="hamburger-top"></span>
              <span class="hamburger-middle"></span>
              <span class="hamburger-bottom"></span>
            </button>
          </div>
        </div>
        <!-- Mobile view -->
  
        <div id="menu" class="absolute hidden p-6 rounded-lg bg-[#6B4596] left-6 right-6 top-20 z-100">
          <div class="flex flex-col items-center justify-center w-full space-y-6 font-bold text-white rounded-sm">
            <a href="/auth" class="w-full text-center">Home</a>
            <a href="/webinar" class="w-full text-center">Webinar</a>
            <a href="/blog" class="w-full text-center">Blog</a>
          <a href="/logout" class="w-full py-3 bg-violet-600 rounded-full text-center">Logout</a>

          </div>

       </div>
      </nav>


      <div class="flex mx-auto p-6 w-full items-center justify-center">
        <div class="flex  border-b-8 border-b-black">
        <h2 class="font-bold text-2xl items-center"> Want to be a Modern <span class="text-violet-700"> Developer? </span></h2>
      </div>
      </div>

      <div class="flex items-center justify-center min-h-screen bg-slate-100 mt-6 mb-6">
        <!-- Card Container -->
        <div
          class="flex flex-col p-6 m-3 space-y-10 bg-white rounded-2xl shadow-2xl md:flex-row md:space-y-0 md:space-x-10 md:m-0 md:p-16"
        >

          <!-- Image Div -->
          <div class="flex flex-col justify-center items-center w-1/2">
            <img
              src="../assets/images/build-your-AI.jpg"
              alt=""
              class="mx-auto duration-200 w-80 h-50 hover:scale-105 sm:w-full"
            />

            <div class="flex flex-col space-y-4 mt-4 p-8">
                <div class="w-full">
                    <h3 class="flex flex-col text-xl text-start space-y-4 font-semibold">What we'll teach you.</h3>
                </div>
                <ul class="space-y-4 text-left text-black">
                    <li class="flex items-center space-x-3">
                         <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                         </svg>
                        <span class="text-[15px]">Build your own AI with the help of ChatGPT</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                         </svg>
                        <span  class="text-[15px]">Learn everything from basic</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                         </svg>
                        <span class="text-[15px]">Increase your value as a web developer by learning how to build AI powered apps. Store chat history like ChatGPT & more!</span>
                    </li>
                    <li class="flex items-center space-y-4 space-x-3">
                        <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                         </svg>
                        <span class="text-[15px]">Get Full Access to Premium Downloadable Content Made for You.</span>
                    </li>
                </ul>
              </div>
          </div>
  
          <!-- Content -->
          <div class="flex flex-col space-y-6">
            <!-- Label & Title Container -->
            <div class="flex flex-col mb-4 space-y-3 text-center md:text-left">
              <div>
                <div
                  class="inline-block px-3 py-1 text-sm text-white bg-black rounded-full"
                >
                 Total 60 Hours  
                </div>
              </div>
  
              <!-- Title -->
              <div class="max-w-sm text-2xl font-medium">
                Build your own AI
              </div>
              <!-- Price Container -->
              <div class="flex flex-col mb-4 space-y-3 text-center md:text-left">
                <p class="line-through">Rs.18,900</p>
                <p class="text-5xl font-bold">Rs.4,499</p>
                <p class="text-sm font-light text-gray-400">
                  Season Offer
                </p>
              </div>
  
              <!-- Button Group -->
              <div class="group">
                <button
                  class="w-full transition-all duration-150 bg-violet-700 text-white border-b-8 border-b-violet-700 rounded-lg group-hover:border-t-8 group-hover:border-b-0 group-hover:bg-violet-700 group-hover:border-t-violet-700 group-hover:shadow-lg"
                >
                  <div
                    class="px-8 py-4 duration-150 bg-violet-500 rounded-lg group-hover:bg-violet-700"
                  >
                    <a href="https://cosmofeed.com/vp/65189c6853d20d001d72d480"> Buy Now</a>
                  </div>
                </button>
              </div>
  
              <!-- Stock -->
              <div class="flex items-center space-x-3 group">
                <div
                  class="w-3 h-3 bg-green-400 rounded-full animate-ping"
                ></div>
                <div class="text-sm">Trending</div>
              </div>
  
              <!-- Bottom Buttons Container -->
              <!-- <div
                class="flex flex-col space-y-4 md:space-y-0 md:space-x-4 w-full md:flex-row"
              > -->
                <!-- <button
                  class="flex items-center justify-center py-3 px-5 space-x-3 border-2 border-gray-300 rounded-lg shadow-sm hover:bg-opacity-30 hover:shadow-lg hover:-translate-y-0.5 transition-all duration-150"
                >
                  <img src="" alt="" class="w-8" />
                  <span> <a href="">Add to cart</a></span>
                </button> -->
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>

      <div class="flex items-center justify-center min-h-screen bg-slate-100">
        <!-- Card Container -->
        <div
          class="flex flex-col p-6 m-3 space-y-10 bg-white rounded-2xl shadow-2xl md:flex-row md:space-y-0 md:space-x-10 md:m-0 md:p-16"
        >

          <!-- Image Div -->
          <div class="flex flex-col justify-center items-center w-1/2">
            <img
              src="../assets/images/full-stack-developer.jpg"
              alt=""
              class="mx-auto duration-200 w-80 h-50 hover:scale-105"
            />

            <div class="flex flex-col space-y-4 mt-4 p-8">
                <div class="w-full">
                    <h3 class="flex flex-col text-xl text-start space-y-4 font-semibold">What we'll teach you.</h3>
                </div>
                <ul class="space-y-4 text-left text-black">
                    <li class="flex items-center space-x-3">
                         <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                         </svg>
                        <span class="text-[15px]">The ins and outs of HTML5, CSS3, and Modern JavaScript for 2023</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                         </svg>
                        <span  class="text-[15px]">Learn Everything from Scratch. No prior knowledge required</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                         </svg>
                        <span class="text-[15px]">Build any website for your own Startup or get work from all over the world as a freelancer </span>
                    </li>
                    <li class="flex items-center space-y-4 space-x-3">
                        <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                         </svg>
                        <span class="text-[15px]">Get Full Access to Premium Downloadable Content Made for you so you can practice more.</span>
                    </li>
                </ul>
              </div>
          </div>
  
          <!-- Content -->
          <div class="flex flex-col space-y-6">
            <!-- Label & Title Container -->
            <div class="flex flex-col mb-4 space-y-3 text-center md:text-left">
              <div>
                <div
                  class="inline-block px-3 py-1 text-sm text-white bg-black rounded-full"
                >
                 Total 60 Hour
                </div>
              </div>
  
              <!-- Title -->
              <div class="max-w-sm text-2xl font-medium">
                Full Stack Web Development BootCamp
              </div>
              <!-- Price Container -->
              <div class="flex flex-col mb-4 space-y-3 text-center md:text-left">
                <p class="line-through">Rs.18,900</p>
                <p class="text-5xl font-bold">Rs.3,499</p>
                <p class="text-sm font-light text-gray-400">
                  Season Offer
                </p>
              </div>
  
              <!-- Button Group -->
              <div class="group">
                <button
                  class="w-full transition-all duration-150 bg-violet-700 text-white border-b-8 border-b-violet-700 rounded-lg group-hover:border-t-8 group-hover:border-b-0 group-hover:bg-violet-700 group-hover:border-t-violet-700 group-hover:shadow-lg"
                >
                  <div
                    class="px-8 py-4 duration-150 bg-violet-500 rounded-lg group-hover:bg-violet-700"
                  >
                    <a href="https://cosmofeed.com/vp/651745579433d3001e09e2c8"> Buy Now</a>
                  </div>
                </button>
              </div>
  
              <!-- Stock -->
              <div class="flex items-center space-x-3 group">
                <div
                  class="w-3 h-3 bg-green-400 rounded-full animate-ping"
                ></div>
                <div class="text-sm">Trending</div>
              </div>
  
              <!-- Bottom Buttons Container -->
              <!-- <div
                class="flex flex-col space-y-4 md:space-y-0 md:space-x-4 w-full md:flex-row"
              > -->
                <!-- <button
                  class="flex items-center justify-center py-3 px-5 space-x-3 border-2 border-gray-300 rounded-lg shadow-sm hover:bg-opacity-30 hover:shadow-lg hover:-translate-y-0.5 transition-all duration-150"
                >
                  <img src="" alt="" class="w-8" />
                  <span> <a href="">Add to cart</a></span>
                </button> -->
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>

      <div class="flex mx-auto p-6 w-full items-center justify-center">
        <div class="flex  border-b-8 border-b-black">
        <h2 class="font-bold text-2xl items-center"> Or want to start a<span class="text-violet-700"> Business? </span></h2>
      </div>
      </div>

     

       <!-- Global Container -->
     <div class="flex items-center justify-center min-h-screen bg-slate-100">
        <!-- Card Container -->
        <div
          class="flex flex-col p-6 m-3 space-y-10 bg-white rounded-2xl shadow-2xl md:flex-row md:space-y-0 md:space-x-10 md:m-0 md:p-16"
        >

          <!-- Image Div -->
          <div class="flex flex-col justify-center items-center w-1/2">
            <img
              src="../assets/images/build-your-business.jpg"
              alt=""
              class="mx-auto duration-200 w-80 h-50 hover:scale-105"
            />

            <div class="flex flex-col space-y-4 mt-4 p-8">
                <div class="w-full">
                    <h3 class="flex flex-col text-xl text-start space-y-4 font-semibold">What we'll teach you.</h3>
                </div>
                <ul class="space-y-4 text-left text-black">
                    <li class="flex items-center space-x-3">
                         <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                         </svg>
                        <span class="text-[15px]">How you can start a business without product , who to sell and how to.</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                         </svg>
                        <span  class="text-[15px]">Or want to Grow Existing Business by 3800% ?</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                         </svg>
                        <span class="text-[15px]">Join us We have Perfect Courses Made for you to Help you Achieve Success in Shortest Time Span.</span>
                    </li>
                    <li class="flex items-center space-y-4 space-x-3">
                        <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                         </svg>
                        <span class="text-[15px]">Get Full Access to Premium Downloadable Content Made for You.</span>
                    </li>
                </ul>
              </div>
          </div>
  
          <!-- Content -->
          <div class="flex flex-col space-y-6">
            <!-- Label & Title Container -->
            <div class="flex flex-col mb-4 space-y-3 text-center md:text-left">
              <div>
                <div
                  class="inline-block px-3 py-1 text-sm text-white bg-black rounded-full"
                >
                  Premium Content Included
                </div>
              </div>
  
              <!-- Title -->
              <div class="max-w-sm text-2xl font-medium">
                Build your own business from scratch without any product
              </div>
              <!-- Price Container -->
              <div class="flex flex-col mb-4 space-y-3 text-center md:text-left">
                <p class="line-through">Rs.2,900</p>
                <p class="text-5xl font-bold">Rs.349</p>
                <p class="text-sm font-light text-gray-400">
                  Season Offer
                </p>
              </div>
  
              <!-- Button Group -->
              <div class="group">
                <button
                  class="w-full transition-all duration-150 bg-violet-700 text-white border-b-8 border-b-violet-700 rounded-lg group-hover:border-t-8 group-hover:border-b-0 group-hover:bg-violet-700 group-hover:border-t-violet-700 group-hover:shadow-lg"
                >
                  <div
                    class="px-8 py-4 duration-150 bg-violet-500 rounded-lg group-hover:bg-violet-700"
                  >
                    <a href="https://cosmofeed.com/vp/65188cfe535371001d353bf2"> Buy Now</a>
                  </div>
                </button>
              </div>
  
              <!-- Stock -->
              <div class="flex items-center space-x-3 group">
                <div
                  class="w-3 h-3 bg-green-400 rounded-full animate-ping"
                ></div>
                <div class="text-sm">Trending</div>
              </div>
  
              <!-- Bottom Buttons Container -->
              <!-- <div
                class="flex flex-col space-y-4 md:space-y-0 md:space-x-4 w-full md:flex-row"
              > -->
                <!-- <button
                  class="flex items-center justify-center py-3 px-5 space-x-3 border-2 border-gray-300 rounded-lg shadow-sm hover:bg-opacity-30 hover:shadow-lg hover:-translate-y-0.5 transition-all duration-150"
                >
                  <img src="" alt="" class="w-8" />
                  <span> <a href="">Add to cart</a></span>
                </button> -->
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>

       <!-- Global Container -->
     <div class="flex items-center justify-center min-h-screen bg-slate-100">
        <!-- Card Container -->
        <div
          class="flex flex-col p-6 m-3 space-y-10 bg-white rounded-2xl shadow-2xl md:flex-row md:space-y-0 md:space-x-10 md:m-0 md:p-16"
        >

          <!-- Image Div -->
          <div class="flex flex-col justify-center items-center w-1/2">
            <img
              src="../assets/images/Build-pro-website.jpg"
              alt=""
              class="mx-auto duration-200 w-80 h-50 hover:scale-105"
            />

            <div class="flex flex-col space-y-4 mt-4 p-8">
                <div class="w-full">
                    <h3 class="flex flex-col text-xl text-start space-y-4 font-semibold">What we'll teach you.</h3>
                </div>
                <ul class="space-y-4 text-left text-black">
                    <li class="flex items-center space-x-3">
                         <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                         </svg>
                        <span class="text-[15px]">Build fully fledged website without coding.</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                         </svg>
                        <span  class="text-[15px]">Create all kind of commercial websites, SEO ranking techniques, keyword research, Drive Traffic. </span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                         </svg>
                        <span class="text-[15px]">Make websites for client and earn by selling it.</span>
                    </li>
                    <li class="flex items-center space-y-4 space-x-3">
                        <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                         </svg>
                        <span class="text-[15px]">Get Full Access to Premium Downloadable Content Made for You.</span>
                    </li>
                </ul>
              </div>
          </div>
  
          <!-- Content -->
          <div class="flex flex-col space-y-6">
            <!-- Label & Title Container -->
            <div class="flex flex-col mb-4 space-y-3 text-center md:text-left">
              <div>
                <div
                  class="inline-block px-3 py-1 text-sm text-white bg-black rounded-full">
                  Premium Content Included
                </div>
              </div>
  
              <!-- Title -->
              <div class="max-w-sm text-2xl font-medium">
                Build a Pro wesbite in just 30-45min.
              </div>
              <!-- Price Container -->
              <div class="flex flex-col mb-4 space-y-3 text-center md:text-left">
                <p class="line-through">Rs.2,900</p>
                <p class="text-5xl font-bold">Rs.349</p>
                <p class="text-sm font-light text-gray-400">
                  Season Offer
                </p>
              </div>
  
              <!-- Button Group -->
              <div class="group">
                <button
                  class="w-full transition-all duration-150 bg-violet-700 text-white border-b-8 border-b-violet-700 rounded-lg group-hover:border-t-8 group-hover:border-b-0 group-hover:bg-violet-700 group-hover:border-t-violet-700 group-hover:shadow-lg"
                >
                  <div
                    class="px-8 py-4 duration-150 bg-violet-500 rounded-lg group-hover:bg-violet-700"
                  >
                    <a href="https://cosmofeed.com/vp/651895ab2dab22001ecf288c"> Buy Now</a>
                  </div>
                </button>
              </div>
  
              <!-- Stock -->
              <!-- <div class="flex items-center space-x-3 group">
                <div
                  class="w-3 h-3 bg-green-600 rounded-full animate-ping"></div>
                <div class="text-sm">Trending</div>
              </div> -->
  
              <!-- Bottom Buttons Container -->
              <!-- <div
                class="flex flex-col space-y-4 md:space-y-0 md:space-x-4 w-full md:flex-row"
              > -->
                <!-- <button
                  class="flex items-center justify-center py-3 px-5 space-x-3 border-2 border-gray-300 rounded-lg shadow-sm hover:bg-opacity-30 hover:shadow-lg hover:-translate-y-0.5 transition-all duration-150"
                >
                  <img src="" alt="" class="w-8" />
                  <span> <a href="">Add to cart</a></span>
                </button> -->
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>


     <div class="flex items-center justify-center mt-6 min-h-screen bg-slate-100">
        <!-- Card Container -->
        <div
          class="flex flex-col p-6 m-3 space-y-10 bg-white rounded-2xl shadow-2xl md:flex-row md:space-y-0 md:space-x-10 md:m-0 md:p-16"
        >

          <!-- Image Div -->
          <div class="flex flex-col justify-center items-center w-1/2">
            <img
              src="../assets/images/Become-prompt-engineer.jpg"
              alt=""
              class="mx-auto duration-200 w-80 h-50 hover:scale-105"
            />

            <div class="flex flex-col space-y-4 mt-4 p-8">
                <div class="w-full">
                    <h3 class="flex flex-col text-xl text-start space-y-4 font-semibold">What we'll teach you.</h3>
                </div>
                <ul class="space-y-4 text-left text-black">
                    <li class="flex items-center space-x-3">
                         <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                         </svg>
                        <span class="text-[15px]">ChatGPT: Turn your creativity into paid work, generate fresh ideas, reach new audiences, and scale your projects!</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                         </svg>
                        <span  class="text-[15px]">AI Voice Tools: Easily create AI-generated speech for any use case and even clone your own voice entirely!</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                         </svg>
                        <span class="text-[15px]">Coding: Combine the power of ChatGPT with programming fundamentals, algorithms, debugging, and documentation!</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                         </svg>
                        <span class="text-[15px]">AI Video Tools: Create an AI avatar that transforms scripts into presentations and quickly generate social media content!</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                         </svg>
                        <span class="text-[15px]">Apply what you've learned to generate new AI products in 15+ real-world projects for both text and image generation use cases.</span>
                    </li>
                    <li class="flex items-center space-y-4 space-x-3">
                        <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                         </svg>
                        <span class="text-[15px]">Get Full Access to Premium Downloadable Content Made for You.</span>
                    </li>
                </ul>
              </div>
          </div>
  
          <!-- Content -->
          <div class="flex flex-col space-y-6">
            <!-- Label & Title Container -->
            <div class="flex flex-col mb-4 space-y-3 text-center md:text-left">
              <div>
                <div
                  class="inline-block px-3 py-1 text-sm text-white bg-black rounded-full"
                >
                  Premium Content Included
                </div>
              </div>
  
              <!-- Title -->
              <div class="max-w-sm text-2xl font-medium">
                Become a Prompt Engineer
              </div>
              <!-- Price Container -->
              <div class="flex flex-col mb-4 space-y-3 text-center md:text-left">
                <p class="line-through">Rs.4,900</p>
                <p class="text-5xl font-bold">Rs.549</p>
                <p class="text-sm font-light text-gray-400">
                  Season Offer
                </p>
              </div>
  
              <!-- Button Group -->
              <div class="group">
                <button
                  class="w-full transition-all duration-150 bg-violet-700 text-white border-b-8 border-b-violet-700 rounded-lg group-hover:border-t-8 group-hover:border-b-0 group-hover:bg-violet-700 group-hover:border-t-violet-700 group-hover:shadow-lg"
                >
                  <div
                    class="px-8 py-4 duration-150 bg-violet-500 rounded-lg group-hover:bg-violet-700"
                  >
                    <a href="https://cosmofeed.com/vp/651890ecd74756001d1feac8"> Buy Now</a>
                  </div>
                </button>
              </div>
  
              <!-- Stock -->
              <div class="flex items-center space-x-3 group">
                <div
                  class="w-3 h-3 bg-green-400 rounded-full animate-ping"
                ></div>
                <div class="text-sm font-bold">Most Demanding</div>
              </div>
  
              <!-- Bottom Buttons Container -->
              <!-- <div
                class="flex flex-col space-y-4 md:space-y-0 md:space-x-4 md:flex-row"
              > -->
                <!-- <button
                  class="flex items-center justify-center py-3 px-5 space-x-3 border-2 border-gray-300 rounded-lg shadow-sm hover:bg-opacity-30 hover:shadow-lg hover:-translate-y-0.5 transition-all duration-150"
                >
                  <img src="" alt="" class="w-8" />
                  <span>Add to cart</span>
                </button> -->
  
                <!-- <button
                  class="flex items-center justify-center py-3 px-5 space-x-3 border-2 border-gray-300 rounded-lg shadow-sm hover:bg-opacity-30 hover:shadow-lg hover:-translate-y-0.5 transition-all duration-150"
                >
                  <img src="" alt="" class="w-8" />
                  <span>Add to wishlist</span>
                </button> -->
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>

      <div class="flex items-center justify-center mt-6 min-h-screen bg-slate-100">
        <!-- Card Container -->
        <div
          class="flex flex-col p-6 m-3 space-y-10 bg-white rounded-2xl shadow-2xl md:flex-row md:space-y-0 md:space-x-10 md:m-0 md:p-16"
        >

          <!-- Image Div -->
          <div class="flex flex-col justify-center items-center w-1/2">
            <img
              src="../assets/images/24-in-1.jpg"
              alt=""
              class="mx-auto duration-200 w-80 h-50 hover:scale-105"
            />

            <div class="flex flex-col space-y-4 mt-4 p-8">
                <div class="w-full">
                    <h3 class="flex flex-col text-xl text-start space-y-4 font-semibold">What we'll teach you.</h3>
                </div>
                <ul class="space-y-4 text-left text-black">
                    <li class="flex items-center space-x-3">
                         <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                         </svg>
                        <span class="text-[15px]">Instead of buying 24 different Courses about Digital Marketing - This Course Will Cover All Your Digital Marketing Needs.
                        </span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                         </svg>
                        <span  class="text-[15px]">This is a 100% Practical Course - Get Ready for Hands-On Experience from the First Lecture!
                        </span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                         </svg>
                        <span class="text-[15px]">Grow Your Business Online , Get Hired as a Digital Marketing Expert , Work as a Digital Marketing Freelancer

                        </span>
                    </li>
                    <li class="flex items-center space-y-4 space-x-3">
                        <svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                         </svg>
                        <span class="text-[15px]">Get Full Access to Premium Downloadable Content Made for You.</span>
                    </li>
                </ul>
              </div>
          </div>
  
          <!-- Content -->
          <div class="flex flex-col space-y-6">
            <!-- Label & Title Container -->
            <div class="flex flex-col mb-4 space-y-3 text-center md:text-left">
              <div>
                <div
                  class="inline-block px-3 py-1 text-sm text-white bg-black rounded-full"
                >
                  Premium Content Included
                </div>
              </div>
  
              <!-- Title -->
              <div class="max-w-sm text-2xl font-medium">
                The Most Complete Course on Digital Marketing, with 20 Courses in 1!
              </div>
              <!-- Price Container -->
              <div class="flex flex-col mb-4 space-y-3 text-center md:text-left">
                <p class="line-through">Rs.14,900</p>
                <p class="text-5xl font-bold">Rs.1,500</p>
                <p class="text-sm font-light text-gray-400">
                  Season Offer
                </p>
              </div>
  
              <!-- Button Group -->
              <div class="group">
                <button
                  class="w-full transition-all duration-150 bg-violet-700 text-white border-b-8 border-b-violet-700 rounded-lg group-hover:border-t-8 group-hover:border-b-0 group-hover:bg-violet-700 group-hover:border-t-violet-700 group-hover:shadow-lg"
                >
                  <div
                    class="px-8 py-4 duration-150 bg-violet-500 rounded-lg group-hover:bg-violet-700"
                  >
                    <a href="https://cosmofeed.com/vp/651893ba535371001d354ac9"> Buy Now</a>
                  </div>
                </button>
              </div>
  
              <!-- Stock -->
              <div class="flex items-center space-x-3 group">
                <div
                  class="w-3 h-3 bg-green-400 rounded-full animate-ping"
                ></div>
                <div class="text-sm">Trending</div>
              </div>
  
              <!-- Bottom Buttons Container -->
              <!-- <div
                class="flex flex-col space-y-4 md:space-y-0 md:space-x-4 w-full md:flex-row"
              > -->
                <!-- <button
                  class="flex items-center justify-center py-3 px-5 space-x-3 border-2 border-gray-300 rounded-lg shadow-sm hover:bg-opacity-30 hover:shadow-lg hover:-translate-y-0.5 transition-all duration-150"
                >
                  <img src="" alt="" class="w-8" />
                  <span> <a href="">Add to cart</a></span>
                </button> -->
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>

      

     <!-- footer -->
  <footer class="py-16 bg-veryDarkBlue mt-4">

    <div class="container flex flex-col items-center justify-between mx-auto space-y-16 md:flex-row md:space-y-0 md:items-start">

      <!-- footer logo -->

      <a href="/"><img src="../assets/images/Learn to Earn. (7).svg " alt="" class="w-10 h-10"></a>

    
     <div class="flex">

      <form action="" method="get">
      <!-- menu container -->
      <div class="flex flex-col-space-y-16 md:space-x-20 md:flex-row md:space-y-0">
        <!-- item-1 -->
        <div class="flex flex-col item-center w-full md:items-start">
          <div class="mb-5 font-bold text-white capitalize hover:translate-y-1 hover:shadow-xl"><a href="/aboutus">About us</a></div>
        </div>
       
      </div>

      <div class="flex flex-col-space-y-16 md:space-x-20 md:flex-row md:space-y-0">
        <!-- item-2 -->
        <div class="flex flex-col item-center w-full md:items-start">
          <div class="mb-5 font-bold text-white capitalize hover:translate-y-1 hover:shadow-xl"><a href="/contact">Contact us</a></div>
        </div>
       
      </div>

      <div class="flex flex-col-space-y-16 md:space-x-20 md:flex-row md:space-y-0">
        <!-- item-3 -->
        <div class="flex flex-col item-center w-full md:items-start">
          <div class="mb-5 font-bold text-white capitalize hover:translate-y-1 hover:shadow-xl">
            <a href="/privacy">privacy policy</a>
          </div>
        </div>
       
      </div>

      <div class="flex flex-col-space-y-16 md:space-x-20 md:flex-row md:space-y-0">
        <!-- item-4 -->
        <div class="flex flex-col item-center w-full md:items-start">
          <div class="mb-5 font-bold text-white capitalize hover:translate-y-1 hover:shadow-xl"><a href="/terms">terms & conditions</a></div>
        </div>

      </div>
     </form>
  </div>
      <!-- social Container -->
      <div class="flex space-x-6"> 
        <div class="flex flex-col md:item-center font-bold text-lg text-white">Follow Us On</div>
        <a href="">
          <img src="../assets/svgs-design/icon-facebook.svg" alt="facebook-icon" class="ficon">
        </a>
        <a href="">
          <img src="../assets/svgs-design/icon-twitter.svg" alt="twitter-icon" class="ficon">
        </a>
        <a href="">
          <img src="../assets/svgs-design/icon-instagram.svg" alt="instagram-icon" class="ficon">
        </a>
        <a href="">
          <img src="../assets/svgs-design/icon-pinterest.svg" alt="pinterest-icon" class="ficon">
        </a>
        <a href="">
          <i></i>
        </a>
      </div>
    </div>
  </footer>

      


      


     
      <script src="../js/script.js"></script>
      <script src="../app.js"></script>

  </body>
  </html>

  