<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon"
    type="image/svg" 
    href="../assets/images/Learn to Earn. (7).svg" class="m-0 p-0 w-full h-full">
    <link rel="stylesheet" href="../css/style.css" />


    <title>Learn to Earn</title>
  </head>
  
  <body>

    <nav class="relative container mx-2 mt-0 p-0">
      <div class="flex items-center justify-between">
        <!-- flex container for logo -->
        <div class="flex items-center space-x-[26px]">
          <!-- logo -->
          <a href="/"> <img src="../assets/images/Learn to Earn. (7).svg" alt="side logo" class="w-[65px]"> </a>
          <a href="/">  <img src="../assets/svgs-design/Learn to Earn. (2).svg" alt="logo" class="w-1/5" role="button" /></a>
          <!-- left buttons -->
          <div class="hidden space-x-12 font-bold lg:flex">
            <a href="/" class="text-gray-600 hover:text-black hover:translate-y-0.5">Home</a>
            <a href="/courses" class="text-gray-600 hover:text-black hover:translate-y-0.5">Courses</a>
            <a href="/webinar" class="text-gray-600 hover:text-black hover:translate-y-0.5">Webinar</a>
            <a href="/blog" class="text-gray-600 hover:text-black hover:translate-y-0.5">Blog</a>
          </div>
        </div>
        <!-- Right buttons -->
        <div class="hidden items-center space-x-8 font-bold text-gray-600  lg:flex">
          <div class="hover:text-veryDarkVoilet hover:translate-y-0.5">
            <a href="/login">Login</a>
          </div>
          <a href="/signup" class="px-8 py-3 font-bold text-white bg-violet-600 rounded-full hover:opacity-70 hover:translate-y-0.5 hover:shadow-lg">Sign Up</a>
        </div>
        <!-- Hamburger -->

        <div class="lg:hidden">
          <button id="menu-btn" type="button" class="hamburger block lg:hidden focus:outline-none ">
            <span class="hamburger-top"></span>
            <span class="hamburger-middle"></span>
            <span class="hamburger-bottom"></span>
          </button>
        </div>
      </div>
      <!-- Mobile view -->

      <div id="menu" class="absolute hidden p-6 rounded-lg bg-[#6B4596] left-6 right-6 top-20 z-100">
        <div class="flex flex-col items-center justify-center w-full space-y-6 font-bold text-white rounded-sm">
          <a href="/" class="w-full text-center">Home</a>
          <a href="/courses" class="w-full text-center">Courses</a>
          <a href="/webinar" class="w-full text-center">Webinar</a>
          <a href="/blog" class="w-full text-center">Blog</a>
          <a href="/login" class="w-full pt-6 border-t-gray-400 text-center">Login</a>
          <a href="/signup" class="w-full py-3 bg-violet-600 rounded-full text-center">Sign Up</a>
          
        </div>

     </div>
    </nav>

    <section id="hero">

        <div class="container flex mx-auto flex-row">
          
          <!-- Upper Content Container  -->
          <div class="flex flex-col space-y-10 mb-16 lg:mt-16 w-full xl:mb-40">
  
            <h1 class="text-[40px] font-bold text-center lg:text-[45px]"> Privacy Policy.</span></h1>
  
            <p class="text-2-xl text-center text-gray-600"> <ul><span class="text-md font-semibold">Privacy Policy for Learn to Earn
                Effective Date: September 29, 2023 </span>
                
                <li class="mt-4"> 1. Introduction 
                Welcome to Learn to Earn, we understand the importance of your privacy and are committed to protecting your personal data. This Privacy Policy explains how we collect, use, share, and safeguard your personal information when you visit our website or use our services.</li> <br>
                
                <li> <ul>2. Information We Collect 
                We may collect various types of information from users: <br> <br>
                
                <li> a. Personal Information: 
                When you create an account or make a purchase, we may collect your name, email address, postal address, and payment information.
                We may collect other information you choose to provide, such as your profile picture or additional contact details. </li> <br>
                
                <li> b. Usage Data: 
                We automatically collect certain information about your interaction with our website. This may include your IP address, device information, browser type, pages visited, and the time and date of your visit.</li> <br>
                
                <li> c. Cookies and Tracking Technologies: 
                We use cookies and similar tracking technologies to enhance your browsing experience and analyze website traffic. You can manage cookie preferences through your browser settings. </li> <br> </ul> </li>
                
                 <li>3. How We Use Your Information 
                We use your personal data for various purposes, including but not limited to:
                Providing and improving our services.
                Personalizing your experience.
                Processing payments and fulfilling orders.
                Communicating with you about your account and our services.
                Analyzing website usage and trends.
                Complying with legal obligations.</li> <br>
                
                <li> 4. Data Sharing 
                We may share your personal information with:
                Service providers and partners who assist us in delivering our services.
                Legal authorities or third parties when required by law or to protect our rights.
                Affiliates or successors in the event of a merger, acquisition, or restructuring.</li> <br>
                
                <li> 5. Data Security 
                We implement reasonable security measures to protect your personal data from unauthorized access, disclosure, alteration, or destruction. However, no method of data transmission over the internet or electronic storage is entirely secure, and we cannot guarantee absolute security. </li>
                
                <li> 6. Your Rights 
                You have certain rights regarding your personal data, including the right to: <br>
                Access, update, or delete your information.
                Object to the processing of your data.
                Request data portability.
                Withdraw your consent when processing is based on consent.
                Lodge a complaint with a data protection authority. <br>
                
                To exercise your rights or for any privacy-related inquiries, please contact us at learntoearn2409@gmail.com</li> <br>
                
               <li> 7. Changes to This Privacy Policy 
                We may update this Privacy Policy to reflect changes in our practices or legal requirements. The updated policy will be posted on our website with a revised effective date. </li> <br>
                
                8. Contact Us 
                If you have questions or concerns about this Privacy Policy or our data practices, please contact us at:
                Learn to Earn Address: Hinjewadi, Pune, Maharashtra Email: learntoearn2409@gmail.com
                You have certain rights regarding your personal data, including the right to:
                Access, update, or delete your information. </ul></p>
  
  
          </div>
        <hr class="items-start h-20">
      
      </section>

      <footer class="py-16 bg-veryDarkBlue">

        <div class="container flex flex-col items-center justify-between mx-auto space-y-16 md:flex-row md:space-y-0 md:items-start">
    
          <!-- footer logo -->
    
          <img src="../assets/images/Learn to Earn. (7).svg " alt="" class="w-10 h-10">
    
          <!-- menu container -->
          <div class="flex flex-col-space-y-16 md:space-x-20 md:flex-row md:space-y-0">
            <!-- item-1 -->
            <div class="flex flex-col item-center w-full md:items-start">
              <div class="mb-5 font-bold text-white capitalize hover:translate-y-1 hover:shadow-xl"><a href="/aboutus">About us</a></div>
            </div>
           
          </div>
    
          <div class="flex flex-col-space-y-16 md:space-x-20 md:flex-row md:space-y-0">
            <!-- item-2 -->
            <div class="flex flex-col item-center w-full md:items-start">
              <div class="mb-5 font-bold text-white capitalize hover:translate-y-1 hover:shadow-xl"><a href="/contact">Contact us</a></div>
            </div>
           
          </div>
    
          <div class="flex flex-col-space-y-16 md:space-x-20 md:flex-row md:space-y-0">
            <!-- item-3 -->
            <div class="flex flex-col item-center w-full md:items-start">
              <div class="mb-5 font-bold text-white capitalize hover:translate-y-1 hover:shadow-xl"><a href="/privacy">privacy policy</a></div>
            </div>
           
          </div>
    
          <div class="flex flex-col-space-y-16 md:space-x-20 md:flex-row md:space-y-0">
            <!-- item-4 -->
            <div class="flex flex-col item-center w-full md:items-start">
              <div class="mb-5 font-bold text-white capitalize hover:translate-y-1 hover:shadow-xl"><a href="/terms">terms & conditions</a></div>
            </div>
    
          </div>
          <!-- social Container -->
          <div class="flex space-x-6"> 
            <div class="flex flex-col md:item-center font-bold text-lg text-white">Follow Us On</div>
            <a href="">
              <img src="../assets/svgs-design/icon-facebook.svg" alt="facebook-icon" class="ficon">
            </a>
            <a href="">
              <img src="../assets/svgs-design/icon-twitter.svg" alt="twitter-icon" class="ficon">
            </a>
            <a href="">
              <img src="../assets/svgs-design/icon-instagram.svg" alt="instagram-icon" class="ficon">
            </a>
            <a href="">
              <img src="../assets/svgs-design/icon-pinterest.svg" alt="pinterest-icon" class="ficon">
            </a>
            <a href="">
              <img src="" alt="">
            </a>
          </div>
        </div>
      </footer>


<script src="../app.js"></script>
<script src="../js/script.js"></script>
      </body>
      </html>