<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon"
    type="image/svg" 
    href="../assets/images/Learn to Earn. (7).svg" class="m-0 p-0 w-full h-full">
    <link rel="stylesheet" href="../css/style.css" />

    <title>Sign Up</title>
  </head>

  <body class="bg-white">
    <div class="flex items-center justify-center min-h-screen">
        <div class="relative flex flex-col m-6 space-y-10 bg-white shadow-2xl rounded-2xl md:flex-row md:space-y-0 md:m-0">
            <div class="p-6 md:p-20">
                <h2 class="mb-5 text-4xl font-bold text-center">Sign Up</h2>
                <form action="/signup" method="POST">
                <input
                type="email"
                name="username"
                class="w-full p-4 border border-gray-300 rounded-lg placeholder:font-sans placeholder:font-light form-control"
                placeholder="Enter your email address"
              />
              <input
                type="password"
                name="password"
                class="w-full p-4 mt-4 border border-gray-300 rounded-lg placeholder:font-sans placeholder:font-light form-control"
                placeholder="Enter your password"
              />

              <!-- Middle Content -->
         <div
         class="flex flex-col items-center justify-between mt-6 space-y-6 sm:flex-row md:space-y-0 p-6"
       >
         <!-- <div class="font-thin text-cyan-700"><a href="">Forgot password</a></div> -->
    
         <button type="submit"
           class="w-full md:w-full flex justify-center items-center p-6 space-x-4 font-sans font-bold text-white rounded-md shadow-lg px-9 bg-violet-700 shadow-cyan-100 hover:bg-opacity-90 hover:shadow-lg border transition hover:-translate-y-0.5 duration-150"
         >
           <span>Sign Up</span>
         </button>
       </div>
            </form>

            <form action="/login" method="get"></form>
            <button type="submit" class="w-full md:w-full flex justify-center items-center p-2 mb-4 space-x-4 font-sans font-bold text-black rounded-md shadow-lg px-9 bg-white shadow-cyan-100 underline hover:bg-opacity-90 hover:shadow-lg border transition hover:-translate-y-0.5 duration-150"
         >
           <a href="/login">Aready a user? Login now</a>
         </button>
    
    
                <div class="flex flex-col space-x-o space-y-6 md:flex-row md:space-x-4 md:space-y-0 border-2 border-gray-200 rounded-lg p-4 hover:bg-opacity-30 hover:shadow-lg hover:-translate-y-0.5 transition duration-150">
                    
                    <a class="flex space-x-4" href="/auth/google" role="button" >
                        <img src="../assets/images/google.png" alt="google logo" class="w-6 h-6">
                        <span class="font-medium">Sign up with Google</span>
                    </a>
                </div>
                <!-- <div class="flex flex-col mt-4 space-x-o space-y-6 md:flex-row md:space-x-4 md:space-y-0 border-2 border-gray-200 rounded-lg p-4 hover:bg-opacity-30 hover:shadow-lg hover:-translate-y-0.5 transition duration-150">
                    <a class="flex space-x-4" href="/auth/facebook" role="button">
                        <img src="../assets/images/facebook.png" alt="google logo" class="w-6 h-6">
                        <span class="font-medium">Sign up with Facbook</span>
                    </a>
                </div> -->
            </div>
           
        </div>
       </div>

   <script src="../js/script.js"></script>
<script src="../app.js"></script>
  </body>