<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon"
    type="image/svg" 
    href="../assets/images/Learn to Earn. (7).svg" class="m-0 p-0 w-full h-full">
    <link rel="stylesheet" href="../css/style.css" />

    <title>Learn to Earn</title>
  </head>

  <body>
    <nav class="relative container mx-2 mt-0 p-0">
        <div class="flex items-center justify-between">
          <!-- flex container for logo -->
          <div class="flex items-center space-x-[26px]">
            <!-- logo -->
           <a href="/"> <img src="../assets/images/Learn to Earn. (7).svg" alt="side logo" class="w-[65px]"> </a>
          <a href="/">  <img src="../assets/svgs-design/Learn to Earn. (2).svg" alt="logo" class="w-1/5" role="button" /></a>
            <!-- left buttons -->
            <div class="hidden space-x-12 font-bold lg:flex">
              <a href="/" class="text-gray-600 hover:text-black hover:translate-y-0.5">Home</a>
              <a href="/webinar" class="text-gray-600 hover:text-black hover:translate-y-0.5">Webinar</a>
              <!-- <a href="/blog" class="text-gray-600 hover:text-black hover:translate-y-0.5">Blog</a> -->
            </div>
          </div>

          <div class="lg:hidden">
            <button id="menu-btn" type="button" class="hamburger block lg:hidden focus:outline-none ">
              <span class="hamburger-top"></span>
              <span class="hamburger-middle"></span>
              <span class="hamburger-bottom"></span>
            </button>
          </div>
        </div>
        <!-- Mobile view -->
  
        <div id="menu" class="absolute hidden p-6 rounded-lg bg-[#6B4596] left-6 right-6 top-20 z-100">
          <div class="flex flex-col items-center justify-center w-full space-y-6 font-bold text-white rounded-sm">
            <a href="/" class="w-full text-center">Home</a>
            <a href="/webinar" class="w-full text-center">Webinar</a>
            <!-- <a href="/blog" class="w-full text-center">Blog</a> -->
          </div>

       </div>
      </nav>




      <script src="../js/script.js"></script>
    <script src="../app.js"></script>
  </body>


